.pokedex-box {
  border: 1px solid black;
  padding: 3px;
  margin: 3px;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 3px;
}

.search-bar {
  padding-left: 15%;
}
