<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" routerLink="/">KayTV's Pokemon Site</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Pokedex</a>
      <a class="nav-item nav-link" routerLink="/">PoGo</a>
      <a class="nav-item nav-link" routerLink="/ranks">References</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/KayTV" target="_blank">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/KayTVN" target="_blank">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<!-- todo: active tab for nav -->