<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">VF/N. Chest Pogo</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Pokedex</a>
      <a class="nav-item nav-link" href="#">Tournaments</a>
      <a class="nav-item nav-link" href="/ranks">Ranks</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/KayTV" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/KayTVN" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
